.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: baseline;
	justify-items: left;
	margin-bottom: 30px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: baseline;
	justify-items: left;
}

.seo h1 {
	margin: 0;
	line-height: 35px;
	font-size: 26px;
	font-weight: 500;
}

.seo h2 {
	margin-top: 50px;
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 22px;
	font-weight: 500;
}

.seo h3 {
	margin: 0;
	line-height: 27px;
	font-size: 20px;
	font-weight: 500;
}

@media screen and (max-width: 640px) {
	.title {
		grid-template-columns: auto 1fr;
	}
}
