html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #F5F6F8;
	font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5939d9;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: font-family: "Noto Sans", sans-serif;
}
